<script src="https://assets.crowd.aws/crowd-html-elements.js"></script>

<crowd-form>
  <div style="padding: 20px">
    <p>
      This HIT is an academic experiment on decision making from KUL University.
      After completing this HIT, you will receive your payment. The average payout is 2.75.
    </p>
    <p>
      This HIT takes approximately 15 minutes to complete, and you will be paid based on the amount of points you earn.
    </p>

    <p>After
      you have accepted this HIT, the URL to the study will appear here: <b><a class="otree-link">link</a></b>.
    </p>

  </div>
</crowd-form>
