<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title></title>
  <meta name="Generator" content="Cocoa HTML Writer">
  <meta name="CocoaVersion" content="1671.5">
  <style type="text/css">
    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; line-height: 14.0px; font: 12.0px Times; color: #000000; -webkit-text-stroke: #000000}
    p.p2 {margin: 0.0px 0.0px 12.0px 0.0px; line-height: 14.0px; font: 12.0px Times; color: #000000; -webkit-text-stroke: #000000}
    p.p3 {margin: 0.0px 0.0px 12.0px 0.0px; line-height: 14.0px; font: 12.0px Times; color: #000000; -webkit-text-stroke: #000000; min-height: 12.0px}
    p.p4 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: center; line-height: 14.0px; font: 12.0px Times; color: #000000; -webkit-text-stroke: #000000}
    span.s1 {font-kerning: none}
    td.td1 {width: 74.3px; margin: 0.5px 0.5px 0.5px 0.5px; padding: 1.0px 1.0px 1.0px 1.0px}
    td.td2 {width: 82.4px; margin: 0.5px 0.5px 0.5px 0.5px; padding: 1.0px 1.0px 1.0px 1.0px}
    td.td3 {width: 69.6px; margin: 0.5px 0.5px 0.5px 0.5px; padding: 1.0px 1.0px 1.0px 1.0px}
    td.td4 {width: 88.6px; margin: 0.5px 0.5px 0.5px 0.5px; padding: 1.0px 1.0px 1.0px 1.0px}
    td.td5 {width: 75.8px; margin: 0.5px 0.5px 0.5px 0.5px; padding: 1.0px 1.0px 1.0px 1.0px}
    td.td6 {width: 119.1px; margin: 0.5px 0.5px 0.5px 0.5px; padding: 1.0px 1.0px 1.0px 1.0px}
    td.td7 {width: 104.4px; margin: 0.5px 0.5px 0.5px 0.5px; padding: 1.0px 1.0px 1.0px 1.0px}
    td.td8 {width: 86.0px; margin: 0.5px 0.5px 0.5px 0.5px; padding: 1.0px 1.0px 1.0px 1.0px}
    td.td9 {width: 20.9px; margin: 0.5px 0.5px 0.5px 0.5px; padding: 1.0px 1.0px 1.0px 1.0px}
  </style>
</head>
<body>
<p class="p1"><span class="s1">{% extends "global/Page.html" %} {% load otree %} {% block title %} Decisions of Judicial Resources:<span class="Apple-converted-space"> </span></span></p>
<p class="p1"><span class="s1">Results of the Round {% endblock %} {% block content %} {% if player.id_in_group == 1 %}</span></p>
<p class="p2"><span class="s1">You sent Domestic Court: {{ group.sent_amount }}.<br>
{% if group.sent_back_amount == none %} Domestic Court cannot return an answer.<br>
{% else %} Domestic Court returned: {{ group.sent_back_amount }}.<br>
{% endif %} <br>
Your payoffs are listed below. <br>
</span></p>
<p class="p1"><span class="s1">{% else %}</span></p>
<p class="p2"><span class="s1">International Court sent you: {{ group.sent_amount }}.<br>
{% if group.sent_back_amount == none %} You cannot return an answer.<br>
{% else %} You returned: {{ group.sent_back_amount }}.<br>
{% endif %} <br>
Your payoffs are listed below. <br>
</span></p>
<p class="p1"><span class="s1">{% endif %}</span></p>
<p class="p3"><span class="s1"></span><br></p>
<p class="p1"><span class="s1">{% next_button %} {% for p,q,r,a,s,b,t,u,v in concat_p %} {% if forloop.counter <= round %} {% if s == none %} {% else %} {% endif %} {% if s == none %} {% else %} {% endif %} {% endif %} {% endfor %}</span></p>
<table cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td valign="middle" class="td1">
        <p class="p4"><span class="s1"><b>Round</b></span></p>
      </td>
      <td valign="middle" class="td2">
        <p class="p4"><span class="s1"><b>Payoff International Court</b></span></p>
      </td>
      <td valign="middle" class="td3">
        <p class="p4"><span class="s1"><b>Payoff Domestic Court</b></span></p>
      </td>
      <td valign="middle" class="td4">
        <p class="p4"><span class="s1"><b>Strategy International Court</b></span></p>
      </td>
	  <td valign="middle" class="td5">
        <p class="p4"><span class="s1"><b>Communication International Court</b></span></p>
      </td>
      <td valign="middle" class="td6">
        <p class="p4"><span class="s1"><b>Strategy Domestic Court</b></span></p>
      </td>
	  <td valign="middle" class="td7">
        <p class="p4"><span class="s1"><b>Communication Domestic Court</b></span></p>
      </td>
      <td valign="middle" class="td8">
        <p class="p4"><span class="s1"><b>Beliefs International Court is assertive</b></span></p>
      </td>
      <td valign="middle" class="td9">
        <p class="p4"><span class="s1"><b>Beliefs Domestic Court disapplies</b></span></p>
      </td>
      <td valign="middle" class="td10">
        <p class="p4"><span class="s1"><b>Nature International Court</b></span></p>
      </td>
    </tr>
    <tr>
      <td valign="middle" class="td1">
        <p class="p1"><span class="s1">{{ forloop.counter }}</span></p>
      </td>
      <td valign="middle" class="td2">
        <p class="p1"><span class="s1">{{ p }}</span></p>
      </td>
      <td valign="middle" class="td3">
        <p class="p1"><span class="s1">{{ q }}</span></p>
      </td>
      <td valign="middle" class="td4">
        <p class="p1"><span class="s1">{{ r }}</span></p>
      </td>
	  <td valign="middle" class="td5">
        <p class="p1"><span class="s1">{{ a }}</span></p>
      </td>
      <td valign="middle" class="td6">
        <p class="p1"><span class="s1">N/A</span></p>
      </td>
      <td valign="middle" class="td7">
        <p class="p1"><span class="s1">{{ b }}</span></p>
      </td>
	  <td valign="middle" class="td8">
        <p class="p1"><span class="s1">{{ s }}</span></p>
      </td>
      <td valign="middle" class="td9">
        <p class="p1"><span class="s1">{{ t }}</span></p>
      </td>
      <td valign="middle" class="td10">
        <p class="p1"><span class="s1">N/A</span></p>
      </td>
      <td valign="middle" class="td11">
        <p class="p1"><span class="s1">{{ u }}</span></p>
      </td>
      <td valign="middle" class="td11">
        <p class="p1"><span class="s1">{{ v }}</span></p>
      </td>
    </tr>
  </tbody>
</table>
<p class="p1"><span class="s1">{% for i in i|rjust:50 %}<span class="Apple-converted-space"> </span></span></p>
<p class="p1"><span class="s1">{% endfor %} {% endblock %}<span class="Apple-converted-space"> </span></span></p>
</body>
</html>
