<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title></title>
  <meta name="Generator" content="Cocoa HTML Writer">
  <meta name="CocoaVersion" content="1671.5">
  <style type="text/css">
    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; line-height: 14.0px; font: 12.0px Times; color: #000000; -webkit-text-stroke: #000000}
    p.p2 {margin: 0.0px 0.0px 12.0px 0.0px; line-height: 14.0px; font: 12.0px Times; color: #000000; -webkit-text-stroke: #000000}
    p.p3 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: center; line-height: 14.0px; font: 12.0px Times; color: #000000; -webkit-text-stroke: #000000}
    span.s1 {font-kerning: none}
    td.td1 {width: 74.3px; margin: 0.5px 0.5px 0.5px 0.5px; padding: 1.0px 1.0px 1.0px 1.0px}
    td.td2 {width: 77.8px; margin: 0.5px 0.5px 0.5px 0.5px; padding: 1.0px 1.0px 1.0px 1.0px}
    td.td3 {width: 65.8px; margin: 0.5px 0.5px 0.5px 0.5px; padding: 1.0px 1.0px 1.0px 1.0px}
    td.td4 {width: 83.7px; margin: 0.5px 0.5px 0.5px 0.5px; padding: 1.0px 1.0px 1.0px 1.0px}
    td.td5 {width: 71.6px; margin: 0.5px 0.5px 0.5px 0.5px; padding: 1.0px 1.0px 1.0px 1.0px}
    td.td6 {width: 112.5px; margin: 0.5px 0.5px 0.5px 0.5px; padding: 1.0px 1.0px 1.0px 1.0px}
    td.td7 {width: 98.6px; margin: 0.5px 0.5px 0.5px 0.5px; padding: 1.0px 1.0px 1.0px 1.0px}
    td.td8 {width: 81.2px; margin: 0.5px 0.5px 0.5px 0.5px; padding: 1.0px 1.0px 1.0px 1.0px}
    td.td9 {width: 18.1px; margin: 0.5px 0.5px 0.5px 0.5px; padding: 1.0px 1.0px 1.0px 1.0px}
    td.td10 {width: 20.7px; margin: 0.5px 0.5px 0.5px 0.5px; padding: 1.0px 1.0px 1.0px 1.0px}
    td.td11 {width: 14.9px; margin: 0.5px 0.5px 0.5px 0.5px; padding: 1.0px 1.0px 1.0px 1.0px}
  </style>
</head>
<body>
<p class="p1"><span class="s1">{% extends "global/Page.html" %} {% load otree %} {% block title %} Decisions of Judicial Resources:<span class="Apple-converted-space"> </span></span></p>
<p class="p1"><span class="s1">Results of the Round {% endblock %} {% block content %} {% if player.id_in_group == 1 %}</span></p>
<p class="p2"><span class="s1">You sent domestic court: {{ group.sent_amount }}.<br>
{% if group.sent_back_amount == none %} Domestic court cannot return an answer.<br>
{% else %} Domestic court returned: {{ group.sent_back_amount }}.<br>
{% endif %} <br>
Your payoffs are listed below. <br>
</span></p>
<p class="p1"><span class="s1">{% else %}</span></p>
<p class="p2"><span class="s1">International court sent you: {{ group.sent_amount }}.<br>
{% if group.sent_back_amount == none %} You cannot return an answer.<br>
{% else %} You returned: {{ group.sent_back_amount }}.<br>
{% endif %} <br>
Your payoffs are listed below. <br>
</span></p>
<p class="p1"><span class="s1">{% endif %} {% for p,q,r,s,t,u,v in concat_p %} {% if forloop.counter &lt;= round %} {% if r == none %} {% else %} {% endif %} {% if s == none %} {% else %} {% endif %} {% if s == none %} {% else %} {% endif %} {% if r == none %} {% else %} {% endif %} {% endif %} {% endfor %}</span></p>
<table cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td valign="middle" class="td1">
        <p class="p3"><span class="s1"><b>Round</b></span></p>
      </td>
      <td valign="middle" class="td2">
        <p class="p3"><span class="s1"><b>Payoff International court</b></span></p>
      </td>
      <td valign="middle" class="td3">
        <p class="p3"><span class="s1"><b>Payoff Domestic court</b></span></p>
      </td>
      <td valign="middle" class="td4">
        <p class="p3"><span class="s1"><b>Strategy International court</b></span></p>
      </td>
      <td valign="middle" class="td5">
        <p class="p3"><span class="s1"><b>Strategy Domestic court</b></span></p>
      </td>
      <td valign="middle" class="td6">
        <p class="p3"><span class="s1"><b>Beliefs International court is assertive</b></span></p>
      </td>
      <td valign="middle" class="td7">
        <p class="p3"><span class="s1"><b>Beliefs Domestic court challenges</b></span></p>
      </td>
      <td valign="middle" class="td8">
        <p class="p3"><span class="s1"><b>Nature International Court</b></span></p>
      </td>
    </tr>
    <tr>
      <td valign="middle" class="td1">
        <p class="p1"><span class="s1">{{ forloop.counter }}</span></p>
      </td>
      <td valign="middle" class="td2">
        <p class="p1"><span class="s1">{{ p }}</span></p>
      </td>
      <td valign="middle" class="td3">
        <p class="p1"><span class="s1">{{ q }}</span></p>
      </td>
      <td valign="middle" class="td4">
        <p class="p1"><span class="s1">N/A</span></p>
      </td>
      <td valign="middle" class="td5">
        <p class="p1"><span class="s1">{{ r }}</span></p>
      </td>
      <td valign="middle" class="td6">
        <p class="p1"><span class="s1">N/A</span></p>
      </td>
      <td valign="middle" class="td7">
        <p class="p1"><span class="s1">{{ s }}</span></p>
      </td>
      <td valign="middle" class="td8">
        <p class="p1"><span class="s1">N/A</span></p>
      </td>
      <td valign="middle" class="td9">
        <p class="p1"><span class="s1">{{ t }}</span></p>
      </td>
      <td valign="middle" class="td10">
        <p class="p1"><span class="s1">N/A</span></p>
      </td>
      <td valign="middle" class="td11">
        <p class="p1"><span class="s1">{{ u }}</span></p>
      </td>
      <td valign="middle" class="td11">
        <p class="p1"><span class="s1">{{ v }}</span></p>
      </td>
    </tr>
  </tbody>
</table>
<p class="p1"><span class="s1">{% next_button %} {% for i in i|rjust:50 %}<span class="Apple-converted-space"> </span></span></p>
<p class="p1"><span class="s1">{% endfor %} {% endblock %}</span></p>
</body>
</html>
