{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Decisions of Judicial Game:
    <br/>
    Round {{ subsession.round_number }}
{% endblock %}

{% block content %}

    <p>

    </p>
    <p>

    You are the Domestic Court. Your nature (τ) is {{ nature }}.
    <p>

    </p>
    What do you expect the International Court to choose next?

    Please indicate your beliefs and confidence with the slider. A score of 0 indicates you think
    the International Court will not be assertive and a score of 100 indicates you think the International Court will be assertive.

    </p>
    <p>
    <br/>
    </p>
    <div>
        <div>
            <p style="position:relative; left:0px;font-size:10px;float:left"><b>Not assertive</b></p>
		</div>
        <div>
            <p style="position:relative; left:80px;font-size:10px;float:left"><b>Neutral</b></p>
		</div>
        <div>
            <p style="position:relative; left:160px;font-size:10px;float:left"><b>Assertive</b></p>
		</div>
        <div> <br/> </div>

    </div>

    <p>

    </p>

    <p>

    </p>
    {% formfield group.sent_back_belief label=""%}
    <p>
    <br/>
    </p>
    {% next_button %}

    {% for i in i|rjust:50 %}
        <br/>
    {% endfor %}

{% endblock %}
