<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title></title>
  <meta name="Generator" content="Cocoa HTML Writer">
  <meta name="CocoaVersion" content="1671.5">
  <style type="text/css">
    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; line-height: 14.0px; font: 12.0px Times; color: #000000; -webkit-text-stroke: #000000}
    p.p2 {margin: 0.0px 0.0px 12.0px 0.0px; line-height: 14.0px; font: 12.0px Times; color: #000000; -webkit-text-stroke: #000000}
    span.s1 {font-kerning: none}
  </style>
</head>
<body>
{% extends "global/Page.html" %} {% load otree %} {% block title %} Task 3
<p class="p1"><span class="s1"><br>
</span></p>
Round {{ subsession.round_number }} {% endblock %} {% block content %}


You are the Domestic Court. Your nature (τ) is {{ nature }}.
</span></p>
{% formfield group.sent_back_decision label=" What is your communication strategy?" %}
<p class="p2"><span class="s1"><br>
</span></p>
<p class="p1"><span class="s1">{% next_button %} {% for i in i|rjust:50 %}<span class="Apple-converted-space"> </span></span></p>
<p class="p1"><span class="s1">{% endfor %} {% endblock %}</span></p>
</body>
</html>
