{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Decisions of Judicial Game:
    <br/>
    Round {{ subsession.round_number }}
{% endblock %}

{% block content %}

    <p>

    </p>
    <p>

    You are the International Court. What do you think the Domestic Court will respond to your choice?

    Please indicate your beliefs and confidence with the slider. A score of 0 indicates you think
    the Domestic Court will accept and a score of 100 indicates you think the Domestic court will disapply your choice.

    </p>
    <p>
    <br/>
    </p>

    <div>
        <div>
            <p style="position:relative; left:0px;font-size:10px;float:left"><b>Accept</b></p>
		</div>
        <div>
            <p style="position:relative; left:80px;font-size:10px;float:left"><b>Neutral</b></p>
		</div>
        <div>
            <p style="position:relative; left:160px;font-size:10px;float:left"><b>Disapply</b></p>
		</div>
        <div> <br/> </div>


    </div>

    <p>

    </p>

    {% formfield group.sent_belief label=""%}
    <p>
    <br/>
    </p>
    {% next_button %}

    {% for i in i|rjust:50 %}
        <br/>
    {% endfor %}

{% endblock %}
