{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}

{% block styles %}
    <link href="{% static 'mpl/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}

{% block title %}
    {% trans "Introductions to Judicial Resources" %}
{% endblock %}

{% block content %}

    <div class="wrapper instructions">
            {% blocktrans trimmed with n=11 %}
                These are the Version 3 instructions but the game is Version 4
                <br/>
                <br/>
                The third task is a judicial dialogue game. In this game, you are randomly assigned to a role (international or domestic court) at the beginning of the experiment and
                matched with another player in this room. If for instance, you are assigned to the international court, you will be match with another person
                who's role is domestic court. You will keep your role and your partner until the end of the game. ** no mention of being able to chat with partner **
                <br/>
                <br/>
                The sequence of the game is as following:
                <br/>
                <br/>
                International court decides as a first mover between two actions, exert restrain (~A ) or  be assertive (A). If the international court exert restrain (~A)
                the game stops and both players accrue equal payoffs. If the international court decides to be assertive (A), the domestic court responds to the action taken by
                international court by chosen the action not to challenge (~C) or to challenge (C). The corresponding payoffs are realized depending on the action
                chosen by domestic court and the game stops. All subjects have the same information. Subjects are told the outcome of the game after each play,
                including their current partners' strategies. **mention dovish/hawkish nature, how international court can maintain/reverse if challenged, and domestic court can then apply/dissapply, mention payoff ratios if applicable**
                <br/>
                <br/>
                This game will be repeated n rounds. The number of rounds is randomly drawn for each pair of players (international-domestic). This mean that one pair plays
                this game 10 times, another pair of players may repeat it only 5 times.
                <br/>
                <br/>
                The payoff of this game is the average money earned in the n number of rounds.
                <br/>
                <br/>
                During each round, both players (international/domestic court) can gain additional money by guessing which action the other player is most likely to choose. We ask you,
                before or after submitting your decision choice, to move a slider between 0 (not likely) and 100 (very likely) expressing the likelihood that the other player
                chooses a specific action. If your guess is correct, you will earn additionally 0.15 Euro and otherwise you get 0.05 Euro. Imagine you are assigned to the international court,
                then after submitting your decision choice, you will be ask what is the likelihood that domestic court plays the action to challenge C. In case your guess is 95 and
                the domestic court chooses the action not to challenge, you will earn additionally 0.15 Euro to the payoff in this round.
                <br/>
                <br/>
                The final payoff of this game is the average money earned in the n number of rounds.
                <br/>
                <br/>
                In summary:
                <br/>
                <br/>
                - You will be assigned to a role (international court and domestic court)
                <br/>
                - You will be matched with another player of different role
                <br/>
                - Your role and partner won't change during the game
                <br/>
                - You can gain additional money by guessing the right action of your opponent
                <br/>
                - The number of rounds is randomly drawn
                <br/>
                - Your final payoff is the average of money earned during the n rounds
                <br/>
                <br/>
                Please raise your hand if you have any question about the game, a research assistant will come to answer your question in private.
                <br/>
                <br/>
                Before starting the game, we assess your understanding about the game by participating in a short quiz of 4 questions.

            {% endblocktrans %}
        </p>

    </div>

    {% next_button %}

    {% for i in i|rjust:50 %}
        <br/>
    {% endfor %}

{% endblock %}
