{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Decisions of Judicial Resources:
    <br/>
    Results of the Round
{% endblock %}

{% block content %}

    {% if player.id_in_group == 1 %}
        <p>
            You sent Domestic Court: {{ group.sent_amount }}.<br/>
            {% if group.sent_back_amount == none %}
                Domestic Court cannot return an answer.<br/>
            {% else %}
                Domestic Court returned: {{ group.sent_back_amount }}.<br/>
            {% endif %}
            <br/>
            Your payoffs are listed below.
            <br/>
        </p>
    {% else %}
        <p>
            International Court sent you: {{ group.sent_amount }}.<br/>
            {% if group.sent_back_amount == none %}
                You cannot return an answer.<br/>
            {% else %}
                You returned: {{ group.sent_back_amount }}.<br/>
            {% endif %}
            <br/>
            Your payoffs are listed below.
            <br/>
        </p>

    {% endif %}

    <table class="table">
        <tr>
            <th>Round</th>
            <th>Payoff International Court</th>
            <th>Payoff Domestic Court</th>
            <th>Strategy International Court</th>
            <th>Strategy Domestic Court</th>
            <th>Beliefs International Court is assertive</th>
            <th>Beliefs Domestic Court disapplies</th>
            <th>Nature Domestic Court</th>


        </tr>

        {% for p,q,r,s,t,u,v in concat_p%}
            {% if forloop.counter <= round %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ p }}</td>
                    <td>{{ q }}</td>

                    {% if r == none %}
                        <td>N/A</td>
                    {% else %}
                        <td>{{ r }}</td>
                    {% endif %}

                    {% if s == none %}
                        <td>N/A</td>
                    {% else %}
                        <td>{{ s }}</td>
                    {% endif %}

                    {% if s == none %}
                        <td>N/A</td>
                    {% else %}
                        <td>{{ t }}</td>
                    {% endif %}

                    {% if r == none %}
                        <td>N/A</td>
                    {% else %}
                        <td>{{ u }}</td>
                    {% endif %}

                    <td>{{ v }}</td>

                </tr>
            {% endif %}
        {% endfor %}

    </table>

    {% next_button %}

    {% for i in i|rjust:50 %}
        <br/>
    {% endfor %}


{% endblock %}
