{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}

{% block styles %}
    <link href="{% static 'mpl/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}

{% block title %}
    {% trans "Introductions to Judicial Resources" %}
{% endblock %}

{% block content %}

    <div class="wrapper instructions">
            {% blocktrans trimmed with n=11 %}
                <strong> The basic idea</strong>
                <br/>
                The third task is a judicial dialogue game. In this game, you are randomly assigned to a role (International or Domestic Court) at the beginning of the game and
                anonymously matched with another player in this room. If for instance, you are assigned to "International Court", you will be match with another person
                who's role is "Domestic Court". You will keep your role and your partner until the end of the game.
                You will have to make decisions, which can be adjusted during the experiment.
                Your earnings accumulate at a rate that depends on the action you choose and the action chosen by the other participants you are matched with.
                The details are explained below.
                <br/>
                <br/>

                <strong> The sequence of the game </strong>
                <br/>
                <br/>
                International Court decides as a first mover between two actions, exert restrain (~A ) or  be assertive (A). If the International Court exert restrain (~A)
                the game stops and both players accrue equal payoffs (4;4). If the International Court decides to be assertive (A), the Domestic Court responds to the action taken by
                International Court by chosen the action not to disapply (~D) realising the payoffs (8;3) or to disapply (D) accruing equal payoffs (0;0). The corresponding payoffs are realized depending on the action
                chosen by Domestic Court and the game stops. All subjects have the same information. You are told the outcome of the game after each play,
                including their current partners' strategies.
                <br/>
                <br/>
                This game will be repeated n rounds. The number of rounds is randomly drawn for each pair of players (International-Domestic). This means that while one pair plays
                this game 10 times, another pair of players may repeat it only 5 times.
                <br/>
                <br/>
                During each round, both players (International/Domestic Court) can gain additional money by guessing which action the other player is most likely to choose. We ask you,
                before or after submitting your decision choice, to move a slider between 0 (not likely) and 100 (very likely) expressing the likelihood that the other player
                chooses a specific action. If your guess is correct, you will earn additionally 0.15 tokens and otherwise you get 0.05 tokens. Imagine you are assigned to the International Court,
                then after submitting your decision choice, you will be asked what is the likelihood that Domestic Court plays the action to disapply (D). In case your guess is 95 and
                the Domestic Court chooses the action not to disapply, you will earn additionally 0.05 tokens to the payoff in this round.
                <br/>
                <br/>
                The final payoff of this experiment is the average monetary payoff across the randomly-determined n rounds.
                <br/>
                <br/>
                <strong> Summary: </strong>
                <br/>
                - You will be assigned to a role (International Court and Domestic Court)
                <br/>
                - You will be anonymously matched with another player of different role
                <br/>
                - Your role and partner won't change during the game
                <br/>
                - You can gain additional money by guessing the right action of the other player
                <br/>
                - The number of rounds is randomly drawn
                <br/>
                - Your final payoff is the average money earned during the n rounds
                <br/>
                <br/>
                Before starting the game, we assess your understanding about the game by participating in a short quiz of 2 questions.

            {% endblocktrans %}
        </p>

    </div>

    {% next_button %}

    {% for i in i|rjust:50 %}
        <br/>
    {% endfor %}

{% endblock %}
