{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Task 3
    </br>
    <br/>
    Round {{ subsession.round_number }}
{% endblock %}

{% block content %}


    <p>

    </p>
    <p>

    You are the Domestic Court. The International Court has chosen to be assertive.
    </p>

    {% formfield group.sent_back_amount label="What is your response to the International Court?" %}
    <p>
    <br/>
    </p>
    {% next_button %}

    {% for i in i|rjust:50 %}
        <br/>
    {% endfor %}

{% endblock %}
